<div class="hero">
  <section class="chalkboard">
    <div class="row-fluid">
      <div class="span8">
        <header class="hero-header">
          <%= yield(:chalkboard_promo_text) %>
        </header>
      </div>
      <div class="span4 chalkboard-form">
        <%= yield(:sign_up_form) %>
      </div>
    </div>
  </section>
</div>