<% provide(:title, "Curriculum Mapping and Performance Development for Teachers ") %>
<%= render 'layouts/navbar_chalkboard' %>

<% content_for :chalkboard_promo_text do %>
    <h1>Teach better, together.</h1>
    <h2>Collaboration, review, and curriculum management tools for educators.</h2>
<% end %>
<% content_for :sign_up_form do %>
    <%= render 'registration_form_static' %>

<% end %>
<%= render 'static_pages/hero_chalkboard' %>

<%= render 'feature_footer' %>