UserMailer#signup_confirmation

<%= @greeting %> <%= @user %>,

<p>Welcome to Swibat, a community of teachers who work together to create great curriculum, help each other out professionally, and are commited to building awesome schools!</p>

<p>If you haven't already, <a href="http://www.swibat.com/users/sign_in">Log in</a> and create your first course!

<p>As you know, we're currently in a private beta, so as you use the site, feel free to use the "Feedback" button liberally!</p>

<p>Enjoy,<br/>
	Jesse Flores<br/>
	Founder<br/>
	<a href="http://www.swibat.com/teachers">Swibat.com</a>
</p>
