<div class="prettyprint">
  <h3>Teacher: Great Teacher</h3>
  <dl class="dl-horizontal">
    <dt>Evaluation Period:</dt>
    <dd>Fall, 2012</dd>
    <dt></dt>
    <dd><a href="">See past evaluations</a></dd>
  </dl>

  <h3>Professional Goals:</h3>
  <dl class="dl-horizontal">
    <dt>Academic Year:</dt>
    <dd>Fall, 2012</dd>
    <dt>Goals:</dt>
    <dd>Provide differentiated instruction for different learning styles.</dd>
    <dd>Have students manage administrative elements of the classroom.</dd>
  </dl>
</div>