<div class="row-fluid">
  <div class="span9">
    <h1 style="margin-bottom: 20px;">Great Teacher</h1>
  </div>
  <div class="span3">
    <%= render 'forms/name_dropdown' %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 bordered">
    <div class="span4">
      <dl class="dl-horizontal">
        <dt>Hire Date:</dt>
        <dd>3/31/10</dd>
        <dt>Current Courses:</dt>
        <dd><%= link_to "Physics", '/demo/course_plan' %>, <%= link_to "Math", '/demo/course_plan' %></dd>
        <dt>Involvement:</dt>
        <dd>Coaches soccer, golf, campus ministry</dd>
      </dl>

    </div>
    <div class="span4">

    </div>
    <div class="span4">

    </div>


  </div>
</div>