<table class="table table-bordered development-table">
  <thead>
  <tr class="highlight">
    <th>Domain</th>
    <th>Poor</th>
    <th>Basic</th>
    <th>Proficient</th>
    <th>Master</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="strong">Knowledge of Content & Pedagogy <%= render 'partials/development_table_icons' %></td>
    <td class="development-explanation">In planning and practice, teacher makes content errors.<br/><br/>
      Teacher does not correct content errors made by students.
    </td>
    <td class="development-explanation">Teacher is familiar with basic concepts of the material, but doesn't describe how they relate to each other.</td>
    <td class="development-explanation highlight">Teacher displays solid understanding of material and how concepts relate to each other.</td>
    <td class="development-explanation">Teacher displays deep knowledge of material and the ways it relates to other disciplines.</td>
  </tr>

  <tr>
    <td class="strong">Classroom Environment <%= render 'partials/development_table_icons' %></td>
    <td class="development-explanation">Students roll their eyes at a classmate's idea; the teacher does not respond.</td>
    <td class="development-explanation">Students pay passive attention to the teacher, but talk, pass notes, etc.</td>
    <td class="development-explanation">Teacher gets on the same level as the students, kneeling beside desks and working on problems together.</td>
    <td class="development-explanation highlight">Students hush each other when the teacher or other students are talking. Learning is active. </td>
  </tr>

  <tr>
    <td class="strong">Professional Responsibilities <%= render 'partials/development_table_icons' %></td>
    <td class="development-explanation">Teacher misplaces homework and consistently turns grades in late.</td>
    <td class="development-explanation">Teacher has good notes, but doesn't make them available to students or parents in a timely fashion.</td>
    <td class="development-explanation highlight">Teacher's grade book records student progress toward learning goals.</td>
    <td class="development-explanation">Students are aware of - and can articulate - the progress they're making towards stated goals.</td>
  </tr>

  <tr>
    <td class="strong">Instruction <%= render 'partials/development_table_icons' %></td>
    <td class="development-explanation">Student asks "what are we supposed to be doing" and the teacher ignores the question.</td>
    <td class="development-explanation">Student asks "what are we supposed to be doing" and the teacher clarifies the task.</td>
    <td class="development-explanation">Teacher asks for - and students offer - examples to illustrate objective-related points. </td>
    <td class="development-explanation highlight">Students are able to explain tasks to one another.</td>
  </tr>

  <tr>
    <td><a href="">Add domain</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  </tbody>
</table>