<div class="container-fluid">
  <%= render 'partials/partial_teacher_header' %>
</div>




<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <%= render 'partials/partial_side_nav' %>

    </div>

    <div class="span9">
      <div class="bordered">
        <h3 class="header-green">8/31/12</h3>
        <ul class="unstyled">
          <li><strong>Offered by: </strong>Ann Morehouse</li>
          <li><strong>Tone: </strong>Positive</li>
        </ul>
        <div class="prettyprint">
          <p class="top">Jesse was really helpful. He helped my kid not be so dumb. </p>
        </div>


        <h3 style="margin-top: 30px;" class="header-green">5/31/12</h3>
        <ul class="unstyled">
          <li><strong>Offered by: </strong>Santa Claus</li>
          <li><strong>Tone: </strong>Positive</li>
        </ul>
        <div class="prettyprint">
          <p class="top">Jesse was really helpful. I was struggling with creativity and he had a bad-ass idea. </p>
        </div>


      </div>
    </div>
  </div>
</div>