<div class="container-fluid">
  <%= render 'partials/partial_teacher_header' %>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <%= render 'partials/partial_side_nav' %>

    </div>

    <div class="span9">
      <div class="bordered">

        <%= render 'partials/partial_teacher_professional_profile' %>


        <%= render 'partials/table_professional_development_rubric' %>


    </div>
  </div>
</div>