<div class="field">
  <%= f.select :accomplishment_type, {"Certification" => "Certificate", "Award" => "Award"}, {}, class:"span3" %>
  <%= f.text_field :year, placeholder: "when?", class:"span3"%>
  <%= f.text_field :name, placeholder: "what was it?", class:"span4" %>
  <%= link_to_remove_fields '<i class="icon-trash icon-white"></i>', f, false, "btn btn-monkey" %>
</div>



