<div class="field">
  <%= f.text_field :name, placeholder: "Add a specialty", class:"span6" %>
  <%= link_to_remove_fields '<i class="icon-trash icon-white"></i>', f, false, "btn btn-monkey" %>
</div>

