<% if @user.specialties.any? %>
    <header xmlns="http://www.w3.org/1999/html">
      <h3>Specialties</h3>
    </header>
    <dl class="dl-horizontal">
      <% @user.specialties.each do |special| %>
          <dd><%= special.name%></dd>
      <% end %>
    </dl>
<% end %>

