<% if object.errors.any? %>
  <div id="errorModal" class="modal">
    <div class="modal-header">
      <button type="button" class="close modal-dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Sorry, but this form contains the following <%= pluralize(object.errors.count, "error") %>. </h3>
    </div>
    <div class="modal-body">
      <div id="error_explanation">
        <ul>
          <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-monkey modal-dismiss" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
<% end %>