<div class="sidebar">
  <header class="course-header">
    <h4>Other Units in <%= @course.course_name.titleize %></h4>
  </header>
  <section>
    <% @course.units.each do |unit| %>
        <%= link_to unit.unit_title.titleize, course_unit_path(@course, unit), class:"sidebar-link" %>
    <% end %>

  </section>
</div>