<div class="sidebar">
  <header class="course-header">
    <h4>Share this!</h4>
  </header>
  <section>
    <div class="share-bar">
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
  </section>
</div>


