<div class="sidebar">
  <header class="course-header">
    <h4>Other Courses by <br/> <%= @course.user.full_name %></h4>
  </header>
  <section>
    <% @user.courses.each do |course| %>
        <%= link_to course.course_name.titleize, course_path(course), class:"sidebar-link" %>
    <% end %>

  </section>
</div>