<div class="sidebar">
  <header class="course-header">
    <h4>Similar Courses</h4>
  </header>
  <section>
    <!-- some based on title -->
    <div id="similarObjectiveablesTitle">
      <% if @similar_courses_based_on_name %>
          <% @similar_courses_based_on_name.each do |entry| %>
              <%= link_to entry[:objectiveable].to_s.titleize, entry[:objectiveable] %><br />
          <% end %>
      <% end %>
    </div>
  	<!-- and some based on objectives -->
  	<div id="similarObjectiveables">
      <% if @similar_courses_based_on_objectives %>        
        <% @similar_courses_based_on_objectives.each do |entry| %>
        <%= link_to entry[:objectiveable].to_s.titleize, entry[:objectiveable] %><br />
        <% end %>        
      <% end %>
    </div>
  </section>
</div>