<div class="invite-block">
  <h3>Share the Knowledge!</h3>
  <p>Invite other educators to share their professional expertise!</p>
  <a class="btn btn-monkey" href="#inviteModal" data-toggle="modal">Invite</a>
</div>

<div id="inviteModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Invite</h2>
  </div>  
  	<%= form_tag "/invitations/send_invitation", remote: true, id: 'invitations_form' do %>
 	    <div class="modal-body">
	    	<p>Invite other educators to share their professional expertise!</p>	    	    		
	    		<div class="row-fluid">
		        <div class="span11">
		         <label for="emails">Friend's email addresses (separated by comma) </label>
		          <textarea name="emails" class="span11" rows="2" ></textarea>
		        </div>	        
	      	</div>

	      	<div class="row-fluid">
		        <div class="span11">
		         <label for="from">From</label>
		          <input type="text" name="from" class="span11" value="<%= current_user.full_name if current_user %>" />
		        </div>	        
	      	</div>

	    		<div class="row-fluid">
		        <div class="span11">
		         <label for="message">Message</label>
		          <textarea name="message" class="span11" rows="4" ></textarea>
		        </div>	        
	      	</div>
	    	
	    </div>
	    <div class="modal-footer">
	    	<%= submit_tag "Send invitations", class: "btn btn-monkey", disable_with: "Sending..." %>
	    </div>
    <% end %>
</div>

<div id="invitationsSuccessModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 id="ajaxStatus">Success</h2>
  </div>  
	  <div class="modal-body">
	   	<p id="ajaxResponse">Your invitations have been sent</p>
    </div>
    <div class="modal-footer">
    </div>
</div>