<% provide(:title, "Curriculum Map and Performance Development Free Trial") %>
<% provide(:body_class, "padded")%>
<%= render 'layouts/navbar' %>

<div class="leadform">
  <header class="lead-header">
    <h1>Request a Free Trial!</h1>
    <h3>We are currently in a closed beta and accepting members into our early access program. Give us some info and we'll be in touch!</h3>
  </header>

  <%= render 'forms/lead_form' %>

</div>

