<tr class="field">
    <td><%= f.text_field :activity  %></td>
    <td><%= f.text_field :duration %></td>
    <td><%= f.select(:agent,[['Student', 'Student'], ['Class', 'Class'], ['Teacher', 'Teacher']] ) %></td>
    <td><%= link_to_remove_fields '<i class="icon-trash icon-white"></i>', f, true, 'btn btn-monkey' %></td>
</tr>