<%= form_for [@lesson, @lesson.objectives.build], url: new_lesson_skill_lesson_path(@lesson), remote: true do |f| %>

    <div class="span12">
      <%= f.text_field :objective, placeholder:"Students will be able to...", class:"span11" %>
      <%= f.hidden_field :objective_type, value: "Skill" %>
    </div>
    <div class="span11 offset1">
      <%= f.submit "Add", class: "btn btn-small btn-monkey offset9" %>
    </div>

<% end %>