<div class="field">
		<%= f.text_field :name, placeholder: "Add a resource. You can also upload files if you like." %>
		<%= f.file_field :upload %>
		<%= link_to_remove_fields '<i class="icon-trash icon-white"></i>', f, false, "btn btn-monkey" %>
</div>