<div class="field">
<%= f.text_field :objective, :onblur => "retrieveSimilarObjectiveables('Course', 'objectives')", placeholder: "Add an objective", class: "objectiveName single-edit-input" %>
<%= link_to_remove_fields '<i class="icon-trash icon-white"></i>', f, false,"btn btn-monkey" %>
</div>



