// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#activities{
  float:left;

  p{
    margin-top: 2%;
  }

}

table.activities, div#activities table{
  width: 100%;
  font-size: 1em;

  th{
    text-align: left;
  }

  tr:hover{
    background: rgba(152, 161, 186, 0.10);
  }

  th, td{
    width: 20%;
  }

  th.large, td.large{
    width: 60%;
  }

  th.small, td.small{
    width: 10%;
  }
}

div#activity-form{
  float:left;
  margin: 2em auto;

  a{
    margin-top: 2%;
    display: block;
    float: left;
    margin-left: 1em;
  }

  form#new-activity{

    div.two-column-form{
      width:100%;
      float:left;
      clear:both;
      margin-top: 2%;

      label{
        width:40%;
        display: inline-block;
        float: left;
      }

      input[type="select"]{
        display: inline-block;
        width: 40%;
      }
    }
  }

}


.corestandards-accordion {
  margin-bottom: 0;
  overflow: visible;
  h3 {
    padding: 10px 10px 10px 25px;
    font-size: 12px;
  }
}

.ui-widget-content {
  border: none;
  overflow: visible;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border:none;
  background: #ddd;
  overflow: visible;
}

.ui-accordion {
  overflow: visible;
  .ui-accordion-content {
    padding: 1px 0 1px 20px;    
    overflow: visible;
  }
}



.standards {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 0;

  .placeholder{
    color: #666;
    font-style: italic; 
  }
  ul {
    margin-left: 0;
  }
  li {
    background: #ddd;
    margin:1px;
    list-style: none;
    padding:2px 5px 2px 5px;   
    i {
      font-size: 1em;
      margin-top: 3px;
      cursor: pointer;
    }     
  }
}

.standards-list{
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 10px;
  z-index: 0;


  li {
    background: #eee;
    margin:1px 0;
    list-style: none;
    padding:2px 5px 2px 5px;  
    cursor: move;
  }

  li:hover{
    background: #ddd;
  }
}

.popover{
  width: 400px;

}
