// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#question-form, div#post-form{
  form{
    label{
      font-size: 1.2308em;
      font-weight: bold;
    }
  }
}

a.tag_link {
  $text-and-border: #ffffff;
  background: rgba(80, 89, 109, 0.9); //rgba(152, 161, 186, 0.1);
  font-size: 1em;//13px:13px
  padding: 3px;
  //background: rgb(221, 98, 75);
  color: $text-and-border;
  margin: 0px 0px 5px 0px;
  border:solid 1px $text-and-border;
  text-decoration: none;
}

a.tag_link:hover{
  background-color: rgba(234, 231, 216, 1);
  color: #2B2F3A;
}

span.actions{
  display: block;
  float: left;
  clear:left;

  a{
    font-size: 1em;
  }
}
