<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      <%= @from %> has invited you to join <a href="http://swibat.com">Swibat</a>, a community of teachers who work together to build awesome curriculum, help each other out, and make our future brigther!      
    </p>
    <p>
      In addition, they added the following message:<br />
      <%= @message %>
    </p
    <p>
      To register, click the following link:<br />
      <a href="http://swibat.com/teachers" />http://swibat.com/teachers</a></p>    
  </body>
</html>