<footer class="chalkboard hidden-print">
  <div class="row-fluid">
    <div class="span12">
      <p>Copyright 2012, SWiBAT, inc. All Rights Reserved.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</footer>