<header class="navbar navbar-absolute-top">
  <div class="navbar-inner navbar-chalkboard">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="logo">
                <%= link_to "SWiBAT", root_path, class: "brand" %>
                <p>Professional. Learning. Community. For Educators.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>